ion-content{
    --background:#f4f5f8;
}

ion-card{
    margin-top:20px;
    border-radius:16px;
    box-shadow:0 3px 8px rgba(0,0,0,.08);
}

ion-card-title{
    font-size:20px;
    font-weight:600;
}

ion-card-subtitle{
    margin-top:5px;
}

ion-button{
    margin-top:20px;
}
